<p><%= l(:reminder_mail_body) %>:</p>

<% @projects.each do |project, issues| -%>

    <h2><%= "#{project.name}" %></h2>
    <ul>
    <% issues.keys.each do |attr| -%>
        <h3><%= "#{l(ReminderMailer.issue_attrs[attr].to_sym)}" %></h3>
        <% issues[attr].each do |issue| -%>
        <%
           name = "#{issue.tracker} ##{issue.id}: #{issue.subject}"
           if issue.overdue?
             caption = "! #{l(:reminder_days_overdue, :days => issue.days_before_due_date.abs)}! #{name}"
           else
             caption = "* #{name} (#{l(:field_due_date)}: #{issue.due_date})"
           end
        -%>
        <li>
        <%= link_to caption,issue_url(issue) %>
        </li>
    <% end -%>
    <% end -%>
    </ul>
<% end -%>

<%= @issues_url %>
